.card img{

    height: 400px;


}

.card-deck{


padding-bottom: 50px;
padding-top: 70px;
margin-left: 10px;
margin-right: 10px;


}


.carousel-slide img{

height: 400px;
width: 100%;

}

.p-3{


    width:100%;
   margin-left: 5px;

}

